/target/

.idea
*.iws
*.iml
*.ipr
.mvn

.classpath
.factorypath
.project
.settings
/bin/

.vscode
.DS_Store

node_modules/
/development-environment/localstack/dev_env
/development-environment/localstack/tmp
